<div class="{{ type }}">
    <div class="name-and-info">
         {% if project.title %}
         <h4 class="title">{{ project.title }}</h4>
         {% if project.company %}
            <h5 class="company"><i>
                {% if project.company_link %}
                <a href="{{ project.company_link }}">{{ project.company }}</a>
                {% else %}
                {{ project.company }}
                {% endif %}
            </i></h5>
        {% endif %}
         {% elsif project.position %}
            <h4 class="position">{{ project.position }}</h4>
            {% if project.company %}<h5 class="company"><i>{{ project.company }}</i></h5>{% endif %}
         {% elsif project.title %}
         <h4 class="company">{{ project.company }}</h4>
         {% endif %}
        <ul class="responsibilities">
            {% for responsibility in project.responsibilities %}
            <li class="responsibility">
                {{ responsibility.description
                    | replace: '<link_start>', '<a href="'
                    | replace: '<link_text>', '">'
                    | replace: '<end_link>', '</a>'
                }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="time-and-place">
        {% if project.place %}<p class="place">{{ project.place }}</p>{% endif %}
        <p class="time">{% if project.time_prefix %}{{ project.time_prefix }}{% endif %}{{ project.start_time }}-{{ project.end_time }}</p>
    </div>
</div>
